.footer {
    background-color: #F8F8F8;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer__logo {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 2700px; 
    right: 1365px; 
    left: 191px;
    bottom: 120px;
}

.footer__p {
    display: flex;
    white-space: nowrap;
    color: #848484;
    font-family: "Mulish",sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 164.706% */
    position: absolute;
    top: 0px; 
    right: 831px; 
    left: 870px;
    bottom: 400px;
}

.footer__line {
    height: 0.6px;
    background: #C4C4C4;
    border: 0;
    border-top: 1px solid #C4C4C4;
    margin: 20px auto; 
    width: 1219px;
    position: absolute;
    top: 2750px; 
    right: 190px; 
    left: 191px;
    bottom: 93.4px;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 2830px; 
    right: 931px; 
    left: 770px;
    bottom: 41x;
}

