.banner-wrapper {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #f8e1e8;
    text-align: center;
}

.image-wrapper {
    width: 30%;
    padding-right: 40px;
}

.image-wrapper img {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.text-wrapper {
    width: 70%;
    padding-left: 20px;
}

.banner-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #d81b60;
    margin-bottom: 20px;
    text-align: center;
}

.banner-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #555;
}
