.total-amount {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: right; 
    padding-right: 20px; 
  }
  
  button {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
  }
  
  .actions {
    display: flex;
    justify-content: space-between; 
    margin-top: 40px; 
  }
  
  .continue-button {
    padding: 15px 25px;
    background-color: #d81b60;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  .continue-button:hover {
    background-color: #c21858;
  }
  
  .back-button {
    padding: 15px 25px;
    background-color: #999;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  .back-button:hover {
    background-color: #888;
  }
  
  .cart-container {
    padding: 20px;
    background-color: #ebebeb;
    text-align: center; 
    position: relative; 
  }
  
  .cart-container h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #000000; 
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%; 
    margin: 10px 0; 
  }
  
  .product-image {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product-info {
    flex-grow: 1;
    padding: 0 20px;
    text-align: left; 
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center; 
    flex-grow: 1;
    margin-right: 440px; 
  }
  
  .quantity-controls button {
    padding: 10px;
    background-color: #d81b60;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; 
    border-radius: 30%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-controls button:hover {
    background-color: #c21858;
  }
  
  .remove-button {
    background-color: #ff4081;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .remove-button:hover {
    background-color: #f50057;
  }
  
  .error-message {
    color: red;
    font-size: 1.2em;
    margin: 20px 0;
    padding: 10px;
    background-color: #ffe6e6;
    border-radius: 5px;
    text-align: center;
  }
  